###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_FSTAB_MOUNT_SD
	comment "No additional options for FSTAB_MOUNT_SD"

# 	config APPS_FSTAB_MOUNT_SD_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
